<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>eventId</key>
		<string>10001</string>
		<key>eventName</key>
		<string>xx活动名称</string>
		<key>eventOrganization</key>
		<string>xx餐厅名称</string>
		<key>eventLocation</key>
		<string>64.0,155,0</string>
		<key>eventDate</key>
		<string>20141125</string>
		<key>eventStartTime</key>
		<string>2000</string>
		<key>eventEndTime</key>
		<string>2200</string>
		<key>eventValue</key>
		<string>258</string>
		<key>eventPersons</key>
		<integer>580</integer>
		<key>eventPic</key>
		<string>restaurant.png</string>
	</dict>
	<dict>
		<key>eventId</key>
		<string>10001</string>
		<key>eventName</key>
		<string>xx活动名称</string>
		<key>eventOrganization</key>
		<string>xx餐厅名称</string>
		<key>eventLocation</key>
		<string>64.0,155,0</string>
		<key>eventDate</key>
		<string>20141125</string>
		<key>eventStartTime</key>
		<string>2000</string>
		<key>eventEndTime</key>
		<string>2200</string>
		<key>eventValue</key>
		<string>258</string>
		<key>eventPersons</key>
		<integer>580</integer>
		<key>eventPic</key>
		<string>restaurant.png</string>
	</dict>
	<dict>
		<key>eventId</key>
		<string>10001</string>
		<key>eventName</key>
		<string>xx活动名称</string>
		<key>eventOrganization</key>
		<string>xx餐厅名称</string>
		<key>eventLocation</key>
		<string>64.0,155,0</string>
		<key>eventDate</key>
		<string>20141125</string>
		<key>eventStartTime</key>
		<string>2000</string>
		<key>eventEndTime</key>
		<string>2200</string>
		<key>eventValue</key>
		<string>258</string>
		<key>eventPersons</key>
		<integer>580</integer>
		<key>eventPic</key>
		<string>restaurant.png</string>
	</dict>
	<dict>
		<key>eventId</key>
		<string>10001</string>
		<key>eventName</key>
		<string>xx活动名称</string>
		<key>eventOrganization</key>
		<string>xx餐厅名称</string>
		<key>eventLocation</key>
		<string>64.0,155,0</string>
		<key>eventDate</key>
		<string>20141125</string>
		<key>eventStartTime</key>
		<string>2000</string>
		<key>eventEndTime</key>
		<string>2200</string>
		<key>eventValue</key>
		<string>258</string>
		<key>eventPersons</key>
		<integer>580</integer>
		<key>eventPic</key>
		<string>restaurant.png</string>
	</dict>
</array>
</plist>
